.main-bolly-Container {
  padding: 5px;
  text-align: center;
}

.bollyComponent {
  /* background-color: red; */
  padding: 15px;
}

.bolly-component-title {
  /* background-color: blue; */
  text-align: center;
}

.bolly-line,
.bolly-line2 {
  height: 2px;
  background-color: red;
}

.bolly-line {
  margin-top: -5px;
  width: 160px;
}

.bolly-line2 {
  margin-top: 5px;
  width: 100px;
}

.bollyContainer {
  /* background-color: red; */
  /* border: 1px solid red; */
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.bolly-Left-Data {
  width: 60%;
  /* background-color: red; */
}

.bolly-right-data {
  width: 40%;
  /* background-color: rgb(0, 255, 17); */
}

.bolly-wrapper {
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
}

.bolly-img-container {
  width: 30%;
}

/* .bolly-left-data-link{
    background-color: red;
  } */
.bolly-all-image {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 4px 4px 8px #262626;
}

.bolly-details {
  /* background-color: red; */
  width: 60%;
  padding: 5px;
}

.bolly-title {
  /* text-shadow: 2px 2px 4px #858080; */
  font-weight: 600;
  font-size: 28px;
  color: #352929;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
}

.bolly-desc {
  color: #262626;
}

.bolly-data-contain {
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.IMdb,
.release-left {
  color: #5f4646;
}

.bolly-bitween {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 2px;
  background-color: red;
}

/* .bolly-top-post-heading-wrapper{
    background-color: red;
  } */

.bolly-top-post-title {
  /* background-color: red; */
  padding: 2px;
}

.top-bolly-post-underline,
.top-bolly-post-underline2 {
  height: 2px;
  background-color: red;
}

.top-bolly-post-underline {
  margin-top: -10px;
  width: 150px;
}

.top-bolly-post-underline2 {
  margin-top: 5px;
  width: 100px;
  margin-bottom: 20px;
}

/* .bolly-top-img{
    background-color: red;
  } */
.top-bolly-img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.bolly-main-right-container {
  /* background-color: red; */
  padding: 5px;
  width: 90%;
  margin-left: 20px;
}

.right-bolly-data-wrapper {
  /* background-color: blue; */
  display: flex;
  flex-wrap: wrap;
}

.right-bolly-img-container {
  width: 40%;
}

.top-bolly-post-details-wrapper {
  width: 60%;
}

.top-bolly-post-image {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 4px 4px 8px #5f4646;
}

.top-bolly-post-title {
  color: #352929;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  /* text-shadow: 2px 2px 4px #5f4646; */
}

.bolly-left-details {
  font-size: 16px;
  padding: 2px;
  color: #262626;
  /* background-color: blue; */
}

.bolly-ads-container {
  width: 100%;
  height: 400px;
  /* background-color: red; */
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.bolly-ads-container2 {
  display: none;
}

/* 
  @media screen and (max-width:1024px) {
    .food-all-image {
      
      width: 400px;
      height: 300px;
    }
    .top-post-details-wrapper{
      flex-direction: column;
    }
    
  } */

/* @media (max-width: 382px) {
    .food-all-image {    
      width: 60%;
      height: auto;
    }
  } */