.bollywoodComponent {
    padding: 5%;
}

.post-title {
    /* background-color: blue; */
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 3px 12px #050117;
}
.left-bolly-image{
    width: 80%;
    height: 15%;
    box-shadow: 4px 4px 8px #262626;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}

.line {
    height: 2px;
    background-color: red;
    width: 120px;
    margin-bottom: 5px;
}

.line2 {
    height: 2px;
    background-color: red;
    width: 80px;
}

.BollywoodData {
    width: 90%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1rem;
    color: green;
    font-family: sans-serif;
    margin-bottom: 10px;
    margin: 5px;
    padding-top: 1rem;
    padding: 5px;
}

.bitween {
    background-color: red;
    height: 2px;
    margin-top: 10px;
}

.top-post-details {
    color: #050117;
}

.top-post-details-wrapper .title {
    font-weight: 700;
    font-size: 18px;
}

.bolly-title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
}

.IMdb {
    font-size: 17px;
    font-weight: 500;
    margin-top: 0;
}
.desc{
    margin-top: 0;   
}
.release-left{
    margin-top: 0;
    font-size: 18px;
}