/* Bollywood Styling started  */

.home-latest-bollywood-stories-title {
    text-align: center;
    font-family: sans-serif;
    margin-top: 5vh;
}

.bolly-stories {
    border-radius: 10px;
    /* box-shadow: 2px 2px 4px #262626; */
    /* padding: 10px; */
    display: flex;
    flex-wrap: wrap;
}
/* .bolly-Left-Data{
    background-color: red;
} */
/* .bolly-image-wrapper{

} */

.movie-details p {
    color: #343b5f;
}

.movie-details-para {
    margin-left: 15px;
}

.movie-details-release-para {
    margin-left: 15px;
}

.bolly-image {
    border-radius: 8px;
    border: 1px solid #fafafa;
    box-shadow: 4px 4px 8px #262626;
}

.bolly-title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
}

.IMdb {
    font-size: 17px;
    font-weight: 500;
    margin-top: 0;
}

.release-left {
    margin-top: 0;
    font-size: 18px;
}


.movie-data-contain {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.ads-container{
    /* display: none; */
    margin: 10px;
    width: 35%;
    height: auto;
    /* background-color: red; */
    border: 1px solid red;
    border-radius: 8px;
}
@media screen and (max-width:1000px){
    .ads-container{
        margin: 10px;
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width:895px) {   
     
    .bolly-img {
      /* height: 300px;
      width: 380px; */
      margin-bottom: 20px;
    }
    
  }
  
  @media screen and (max-width:405px) {
    .bolly-img {
      height: auto;
      width: 70%;
      margin-bottom: 20px;
    }
  }