.HomeContainer {
  padding: 5px;
}

.home-latest-sport-stories-title {
  text-align: center;
  font-family: sans-serif;
}

.home-latest-tech-stories-title {
  text-align: center;
  font-family: sans-serif;
  margin-top: 6vh;
  margin-bottom: 1vh;
}

.home-latest-bollywood-stories-title {
  text-align: center;
  font-family: sans-serif;  
  margin-top: 5vh;
}

.home-latest-hollywood-stories-title {
  text-align: center;
  font-family: sans-serif;
  margin-top: 2vh;
}

.home-latest-food-stories-title {
  text-align: center;
  font-family: sans-serif;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.home-latest-fitness-stories-title {
  text-align: center;
  font-family: sans-serif;
  margin-top: 4vh;
  margin-bottom: 2vh,
}

.post-divider {
  width: 45rem;
  margin-left: 4.5rem;
}

.movie-info{
  font-size: 18px;
}
.movie-details p{
  color: #343b5f;
}
hr {
  width: 70%;
  margin: auto;
  background-color: lightgrey;
}
.bolly-stories{
  border-radius: 10px;
  /* box-shadow: 2px 2px 4px #262626; */
  padding: 10px;
}
.text-rotate {
  transform: rotate(-90deg);
  position: relative;
  top: 1.5rem;
}

.rotate-wrapper {
  width: 15%;
  height: 8vh;
  background-color: black;
  color: white;
}

.title-wrapper {
  width: 15%;
  height: 10vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-latest-fitness-underline{
  margin-bottom: 50px;
}
.sports {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(121, 112, 112);
  cursor: pointer;
}
.texts {
  font-size: 11px;
  color: rgb(66, 66, 246);
  margin-top: 0.6rem;
  word-wrap: break-word;
  font-size: 1rem;
}
.sports-img {
  width: 70%;
  height: 150px;
  position: relative;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #262626;
}
.story-wrapper {
  width: 80%;
  height: 70vh;
  margin: auto;
  position: relative;
  top: 2rem;
  /* background-color: red; */
}

.story-content {
  width: 100%;
  height: 30vh;
  background-color: red;
  position: relative;
  display: flex;
}

.story-content-text {
  width: 40%;
  height: 20vh;
}

.stories {
  width: 60%;
  height: 40vh;
}

.underline {
  width: 2rem;
  height: 2px;
  background-color: red;
  margin-top: 1rem;
}

.bolly-stories {
  width: 80%;
  background-color: #fafafa;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bolly-wrapper {
  width: 90%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.1rem;
  color: green;
  font-family: sans-serif;
  margin-bottom: 10px;
  margin: 5px;
  padding-top: 1rem;
  padding: 5px;
}

.display-hollywood-data{
  display: flex;
  flex-wrap: wrap;
}

.bolly-image {  
  border-radius: 8px;
  border: 1px solid #fafafa;
  box-shadow: 4px 4px 8px #262626;
}
.ads-container{
  /* background-color: red; */
  width: 50%;
  height: 70%;
  
}
.ads-box{
  width: 40%;
  height: 30%;
  margin: 30px;
  border: 1px solid rgb(255, 19, 19);
  border-radius: 30px;
  justify-content: center;
  padding: 10px;
}

.movie-title{
  font-weight: 700;
}
.movie-details-desc-para {
  font-size: 1.0rem;
  color: #262626;
  top: 3rem;
  margin-left: 2%;
}

h2 {
  cursor: pointer;
}

.underline:hover {
  width: 10rem;
  transition: width 1s;
}

.underline1 {
  width: 3rem;
  height: 3px;
  background-color: red;
  cursor: pointer;
  position: relative;
  left: 15rem;
  top: 1rem;
}

.top-post-underline {
  width: 3rem;
  height: 3px;
  background-color: red;
  cursor: pointer;
}

.post-title {
  font-family: sans-serif;
  position: relative;
  top: 1rem;
  /* left: 15rem; */
}

.top-post-title {
  left: 5rem;
  position: relative;
  font-family: sans-serif;
}

.top-post-details {
  position: relative;
  /* top: 2rem; */
  font-size: 0.8rem;
  left: 1rem;
}

.small-ad {
  width: 50%;
  height: 50vh;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-left: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  margin-top: 2rem;
}

.fitSubContainer{
  height: auto;
  display: flex;
  padding: 5px;
  margin: auto;
  width: 70%;
  align-items: center;
  position: relative;
  top: 1rem;
  margin-bottom: 10px;
  justify-content: space-evenly;
  background-color: #fafafa;
  border-radius: 10px;
}

@media screen and (max-width:1024px){

  .home-latest-sport-stories-title {
    margin-top: 10px;
  }

  .home-latest-tech-stories-title {
    margin-top: 10px;
  }

  .home-latest-bollywood-stories-title {
    margin-top: 10px;
  }

  .home-latest-hollywood-stories-title {
    margin-top: 10px;
  }

  .home-latest-fitness-stories-title {
    margin-top: 10px;
  }

  .home-latest-food-stories-title {
    margin-top: 10px;
  }

   .sports {
    width: 80%;
    height: auto;
    margin-top: 6vh;
  }

  .sports-img {
    height: 20%;
    width: 80%;
    margin-bottom: 4vh;
  }

  .bolly-stories {
    width: 90%;
    height: auto;
    flex-direction: column;
  }

  .movie-container {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .bolly-wrapper {
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-left: 0;
    /* margin-top: 35vh; */
  }

  .bolly-image-wrapper {
    width: 70%;
    height: 20%;
  }

  .bolly-image {
    height: 20%;
  }

  .wrapper {
    width: 95%;
    height: auto;
    flex-direction: column;
    position: relative;
  }

  .movie-details-desc-para {
    top: 0;
    left: 0;
  }

  .movie-details-release-para {
    top: 2vh;
    left: 0;
  }

  .post-divider {
    width: 100%;
    margin-left: 0;
    margin-top: 8vh;
  }

  .top-post-title {
    right: 0;
    display: inline-block;
    text-align: center;
    width: 90%;
    left: 0;
  }

  .post-title {
    left: 0;
    text-align: center;
  }

  

  .top-post-details {
    top: 0;
    left: 0;
    height: auto;
    font-size: 1rem;
  }

  .top-post-underline {
    left: 0;
    margin: auto;
  }

  .top-post-divider {
    position: relative;
    width: 95%;
    margin-top: 2vh;
  }

  .rotate-wrapper {
    height: 20vh;
  }

  .text-rotate {
    margin-top: -2.5vh;
  }
}

@media screen and (max-width:1000px){

  .underline {
    top: 0;
    margin-top: 2vh;
  }

  .home-latest-food-stories-title {
    margin-bottom: 0;
    margin-top: 5vh;
  }

  .home-latest-hollywood-stories-title {
    margin-top: 6vh;    
  }

  .home-latest-fitness-stories-title {
    margin-top: 6vh;
  }

  .title-wrapper {
    width: 50%;
  }

  /* .HollyConatainer{
    background-color: red;
  } */

  .sports {
    width: 90%;
  }
.HomeContainer{
  margin: 10px;
}
  .bolly-stories {
    /* margin-right: 10px; */
    width: 96%;
    height: auto;
    flex-direction: column;
    /* background-color: red; */
  }

  .movie-container {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  /* .bolly-wrapper {
    width: 95%;
    height: 50vh;
    flex-direction: column;
    margin-left: 10px;
    background-image: blue;
  } */

  .movie-details {
    width: 90%;
    height: auto;
    position: relative;
    top: 0;
  }

  .movie-details-para {
    top: 0;
  }

  .wrapper {
    width: 100%;
    height: auto;
    padding: 5px;
    flex-direction: column;
    position: relative;
  }

  .left-data {
    width: 100%;
    height: auto;
  }

  .movie-details-desc-para {
    top: 0;
    left: 0;
  }

  .movie-details-release-para {
    top: 2vh;
    left: 0;
  }

  .post-divider {
    width: 100%;
    margin-left:auto;
  }

  .left-data-image {
    width: 85%;
  }

  .left-data-link {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top-post-title {
    right: 0;
    display: inline-block;
    text-align: center;
    width: 100%;
    left: 0;
  }

  .post-title {
    left: 0;
    text-align: center;
  }

  .underline1 {
    left: 0;
    margin: auto;
  }

 .top-post-details {
    top: 0;
    left: 0;
  }

  .top-post-underline {
    left: 0;
    margin: auto;
  }

  .top-post-divider {
    position: relative;
    width: 95%;
    margin-top: 2vh;
  }
}
