.HomeContainer {
  padding: 5px;
}

.home-latest-sport-stories-title {
  text-align: center;
  font-family: sans-serif;
  margin-top: 1vh;  
}

.home-latest-tech-stories-title {
  text-align: center;
  font-family: sans-serif;
  position: relative;
  margin-top: 6vh;
  margin-bottom: 1vh;
}

.home-latest-bollywood-stories-title {
  text-align: center;
  font-family: sans-serif;
  position: relative;
  margin-top: 5vh;
}

.home-latest-hollywood-stories-title {
  text-align: center;
  font-family: sans-serif;
  position: relative;
  margin-top: 2vh;
}

.home-latest-food-stories-title {
  text-align: center;
  font-family: sans-serif;
  position: relative;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.home-latest-fitness-stories-title {
  text-align: center;
  font-family: sans-serif;
  position: relative;
  margin-top: 4vh;
  margin-bottom: 2vh,
}

.post-divider {
  width: 45rem;
  margin-left: 4.5rem;
}
/* .movie-details{  
  background-color: red;
} */
/* .movie-data-1{
  background-color: red;
}
.movie-data-2{
  background-color: red;
} */
.movie-details p{
  color: #343b5f;
}
hr {
  width: 70%;
  margin: auto;
  background-color: lightgrey;
}
.bolly-stories{
  border-radius: 10px;
  /* box-shadow: 2px 2px 4px #262626; */
  padding: 10px;
}
.text-rotate {
  transform: rotate(-90deg);
  position: relative;
  top: 1.5rem;
}

.rotate-wrapper {
  width: 15%;
  height: 8vh;
  background-color: black;
  color: white;
}

.title-wrapper {
  width: 15%;
  height: 10vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.left-data-link {
  position: relative;
  width: 40%;
}

.sports {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(121, 112, 112);
  word-wrap: break-word;
  margin: 10px;
  cursor: pointer;
  padding: 10px;
}

.texts {
  font-size: 11px;
  color: rgb(66, 66, 246);
  margin-top: 0.6rem;
  word-wrap: break-word;
  font-size: 1rem;
}
.sports-img {
  width: 100%;
  height: 150px;
  position: relative;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #262626;
}
.story-wrapper {
  width: 80%;
  height: 70vh;
  margin: auto;
  position: relative;
  top: 2rem;
  /* background-color: red; */
}

.story-content {
  width: 100%;
  height: 30vh;
  background-color: red;
  position: relative;
  display: flex;
}

.story-content-text {
  width: 40%;
  height: 20vh;
}

.stories {
  width: 60%;
  height: 40vh;
}

.underline {

  width: 2rem;
  height: 2px;
  background-color: red;
  cursor: pointer;
  position: relative;
  margin-top: 1rem;
}

.bolly-stories {
  width: 70%;
  height: 140vh;
  background-color: #FAFAFA;
  position: relative;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bolly-wrapper {
  width: 80%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.1rem;
  color: green;
  font-family: sans-serif;
  margin-bottom: 10px;
  margin: 5px;
  padding-top: 1rem;
  padding: 5px;
}

.bolly-image-wrapper {
  position: relative;
  width: 20rem;
}

.bolly-image {
  width: 100%;
  height: 30vh;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #fafafa;
  box-shadow: 2px 2px 4px #262626;
}

.movie-details {
  width: 60%;
  height: 30vh;
  position: relative;
  text-align: center;
}

.movie-details-para {
  position: relative;
  top: 3rem;
}

.movie-details-desc-para {
  font-size: 0.8rem;
  position: relative;
  top: 3rem;
  left: 0.5rem;
}

.movie-details-release-para {
  top: 4rem;
  position: relative;
  left: 1rem;
}

.movie-container {
  position: relative;
  width: 60%;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.advertisement {
  width: 150px;
  height: 300px;
  background-color: white;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSJDK-oK3RQoY3P6Pju_Z7Z_1TbMCNLypabQ&usqp=CAU');
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXuyOKAHshyjb3Nf2XRuxUYi6lF-_sPfFTMA&usqp=CAU'); */
  background-repeat: no-repeat;
  position: relative;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
  cursor: pointer;
}

.underline:hover {
  width: 10rem;
  transition: width 1s;
}

.wrapper {
  width: 90%;
  height: 147vh;
  background-color: #fafafa;
  position: relative;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.left-data {
  width: 80%;
  height: 135vh;
  position: relative;
}


.left-data-image {
  width: 100%;
  height: 30vh;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
}

.underline1 {
  width: 3rem;
  height: 3px;
  background-color: red;
  cursor: pointer;
  position: relative;
  left: 15rem;
  top: 1rem;
}

.top-post-underline {
  width: 3rem;
  height: 3px;
  background-color: red;
  cursor: pointer;
  position: relative;
  left: 7rem;
  top: 0.5rem;
}

.right-data {
  width: 40%;
  height: 110vh;
  position: relative;
}

.right-data-link {
  width: 10rem;
  position: relative;
}

.post-title {
  font-family: sans-serif;
  position: relative;
  top: 1rem;
  /* left: 15rem; */
}

.top-post-title {
  left: 5rem;
  position: relative;
  font-family: sans-serif;
}

.top-post-heading-wrapper {
  width: 100%;
  position: relative;
  height: 6vh;
  margin-top: 3vh;
}

.right-data-wrapper {
  width: 100%;
  height: 22vh;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: green;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.top-post-image {
  width: 100%;
  height: 18vh;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
}

.top-post-details-wrapper {
  width: 40%;
  height: auto;
  position: relative;
  /* padding-top: 1rem; */
}

.top-post-details {
  position: relative;
  /* top: 2rem; */
  font-size: 0.8rem;
  left: 1rem;
}

.small-ad {
  width: 50%;
  height: 50vh;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-left: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  margin-top: 2rem;
}

.article-content-wrapper {
  width: 50%;
  height: auto;
  margin: auto;
  position: relative;
  text-align: center;
  word-wrap: break-word;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 1rem;
  line-height: 2rem;
  font-weight: bolder;
}

.article-img {
  position: relative;
  width: 100%;
  height: 50vh;
  margin: auto;
  margin-top: 1rem;
}

.avatar-icon {
  width: 50px;
  height: 50px;
}

.avatar-wrapper {
  width: 35%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  cursor: pointer;
  align-items: center;
  position: relative;
  line-height: 1rem;
}

.article-wrapper {
  height: auto;
  display: flex;
  padding: 5px;
  margin: auto;
  width: 70%;
  align-items: center;
  position: relative;
  top: 1rem;
  margin-bottom: 10px;
  justify-content: space-evenly;
  background-color: #fafafa;
  border-radius: 10px;
}

.fitSubContainer{
  height: auto;
  display: flex;
  padding: 5px;
  margin: auto;
  width: 70%;
  align-items: center;
  position: relative;
  top: 1rem;
  margin-bottom: 10px;
  justify-content: space-evenly;
  background-color: #fafafa;
  border-radius: 10px;
}

@media screen and (max-width:1000px){

  .underline {
    top: 0;
    margin-top: 2vh;
  }

  .home-latest-food-stories-title {
    margin-bottom: 0;
    margin-top: 5vh;
  }

  .home-latest-hollywood-stories-title {
    margin-top: 6vh;    
  }

  .home-latest-fitness-stories-title {
    margin-top: 6vh;
  }

  .title-wrapper {
    width: 50%;
  }

  .article-wrapper {
    width: 95%;
    height: 80px;
    flex-direction: column;
    margin-top: auto;
    /* background-color: red; */
  }
  /* .HollyConatainer{
    background-color: red;
  } */

  .sports {
    width: 90%;
  }
.HomeContainer{
  margin: 10px;
}
  .bolly-stories {
    /* margin-right: 10px; */
    width: 96%;
    height: auto;
    flex-direction: column;
    /* background-color: red; */
  }

  .movie-container {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .bolly-wrapper {
    width: 95%;
    height: 50vh;
    flex-direction: column;
    margin-left: 10px;
    /* background-image: blue; */
  }

  .movie-details {
    width: 90%;
    height: auto;
    position: relative;
    top: 0;
  }

  .movie-details-para {
    top: 0;
  }

  /* .advertisement {
    width: 80%;
  } */

  .wrapper {
    width: 100%;
    height: auto;
    padding: 5px;
    flex-direction: column;
    position: relative;
  }

  /* .bolly-wrapper {
    width: 95%;
    height: 50vh;
    position: relative;
  } */

  .left-data {
    width: 100%;
    height: auto;
  }

  .movie-details-desc-para {
    top: 0;
    left: 0;
  }

  .movie-details-release-para {
    top: 2vh;
    left: 0;
  }

  .post-divider {
    width: 100%;
    margin-left:auto;
  }

  .left-data-image {
    width: 85%;
  }

  .left-data-link {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top-post-title {
    right: 0;
    display: inline-block;
    text-align: center;
    width: 100%;
    left: 0;
  }

  .post-title {
    left: 0;
    text-align: center;
  }

  .underline1 {
    left: 0;
    margin: auto;
  }

  .right-data {
    width: 95%;
    height: auto;
  }

  .right-data-wrapper {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .right-data-link {
    width: 60%;
    height: 30vh;
  }

  .top-post-image {
    height: 30vh;
    width: 100%;
  }

  .top-post-details {
    top: 0;
    left: 0;
  }

  .small-ad {
    width: 80%;
  }

  .top-post-underline {
    left: 0;
    margin: auto;
  }

  .article-content-wrapper {
    width: 90%;
  }

  .avatar-wrapper {
    margin: auto;
    margin-top: 2vh;
  }

  .top-post-divider {
    position: relative;
    width: 95%;
    margin-top: 2vh;
  }
}


@media screen and (max-width:1024px){

  .home-latest-sport-stories-title {
    margin-top: 10px;
  }

  .home-latest-tech-stories-title {
    margin-top: 10px;
  }

  .home-latest-bollywood-stories-title {
    margin-top: 10px;
  }

  .home-latest-hollywood-stories-title {
    margin-top: 10px;
  }

  .home-latest-fitness-stories-title {
    margin-top: 10px;
  }

  .home-latest-food-stories-title {
    margin-top: 10px;
  }

  /* .underline {
    margin-top: 3vh;
    top: 0;
    position: relative;
  } */
/* 
  .title-wrapper {
    width: 50%;
    height: 20vh;
  } */

  .article-wrapper {
    width: 70%;
    height: auto;
    flex-direction: column;
  }

  .sports {
    width: 80%;
    height: auto;
    margin-top: 6vh;
  }

  .sports-img {
    height: 20%;
    width: 80%;
    margin-bottom: 4vh;
  }

  .bolly-stories {
    width: 90%;
    height: auto;
    flex-direction: column;
  }

  .movie-container {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .bolly-wrapper {
    width: 90%;
    height: auto;
    flex-direction: column;
    margin-left: 0;
    margin-top: 35vh;
  }

  .bolly-image-wrapper {
    width: 70%;
    height: 20%;
  }

  .bolly-image {
    height: 20%;
  }

  .movie-details {
    width: 90%;
    height: auto;
    position: relative;
    margin-top: 4vh;
  }

  .movie-details-para {
    top: 0;
    height: auto;
  }

  /* .advertisement {
    width: 50%;
    height: 120vh;
    margin-top: 20vh;
  } */

  .wrapper {
    width: 95%;
    height: auto;
    flex-direction: column;
    position: relative;
  }

  /* .bolly-wrapper {
    width: 90%;
    height: auto;
    position: relative;
    margin-top: 5vh;
  } */

  .left-data {
    width: 80%;
    height: auto;
  }

  .movie-details-desc-para {
    top: 0;
    left: 0;
  }

  .movie-details-release-para {
    top: 2vh;
    left: 0;
  }

  .post-divider {
    width: 100%;
    margin-left: 0;
    margin-top: 8vh;
  }

  .left-data-image {
    width: 60%;
    height: 80vh;
  }

  .left-data-link {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .top-post-title {
    right: 0;
    display: inline-block;
    text-align: center;
    width: 90%;
    left: 0;
  }

  .post-title {
    left: 0;
    text-align: center;
  }

  /* .underline1 {
    left: 0;
    margin: auto;
  } */

  .right-data {
    width: 70%;
    height: auto;
  }

  .right-data-wrapper {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: yellow; */
    margin-top: 10vh;


  }

  .right-data-link {
    width: 60%;
    height: auto;
  }

  .top-post-image {
    height: 70vh;
    width: 65%;
  }

  .top-post-details {
    top: 0;
    left: 0;
    height: auto;
    font-size: 1rem;
  }

  /* .small-ad {
    width: 60%;
    margin: auto;
    height: 100vh;
    margin-top: 10vh;
  } */

  .top-post-underline {
    left: 0;
    margin: auto;
  }

  .article-content-wrapper {
    width: 90%;
  }

  .article-img {
    height: 80vh;
    width: 80%;
  }

  .avatar-wrapper {
    margin: auto;
    margin-top: 10vh;
  }

  .top-post-divider {
    position: relative;
    width: 95%;
    margin-top: 2vh;
  }

  .rotate-wrapper {
    height: 20vh;
  }

  .text-rotate {
    margin-top: -2.5vh;
  }
}