$fs: "Lato", sans-serif;
$base: #f9690e;
$bg: #0f0f0f;
$w: 200px;
$h: 50px;
$blue: #19b5fe;
body {
  padding: 50px 0px;
  text-align: center;
  background-color: $bg;
}
p {
  font-family: $fs;
  color: darken($base, 30%);
}
.btn-animate {
  text-decoration: none;
  font-family: $fs;
  color: #fff;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: $w;
  height: $h;
  overflow: hidden;
  > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: $w;
    height: $h;
    stroke-width: 8px;
    stroke: $base;
    stroke-linecap: round;
    fill: transparent;
  }
  > span {
    color: $base;
    width: $w;
    height: $h;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 2.3;
    transition: all 0.2s ease;
    &:after {
      position: absolute;
      content: "LETS GO!";
      color: $base !important;
      top: 0;
      left: -100%;
      width: $w;
      height: $h;
      color: $bg;
      transition: all 0.2s ease;
    }
    &:before {
      position: absolute;
      content: "";
      height: $h;
      z-index: 0;
      width: $h;
      background-color: $base;
      border-radius: 50%;
      top: 0;
      left: -63%;
      transition: all 0.4s ease;
      transform: scale(0);
      opacity: 0;
    }
  }
  &:hover > svg {
    animation: 1s pencil linear forwards;
  }
  &:hover > span {
    left: 100%;
  }
  &:hover > span:after {
    left: -100%;
  }
}
.ripple-effect {
  position: absolute;
  width: $h;
  height: $h;
  border: 1px solid $base;
  animation: ripple-animation 2.5s;
}
@keyframes pencil {
  0% {
    stroke-dasharray: 300;
    stroke-dashoffset: 700;
    stroke-width: 8px;
  }
  75% {
    stroke-dasharray: 900;
    stroke-dashoffset: 400;
    stroke-width: 1px;
    fill: transparent;
  }
  100% {
    stroke-dasharray: 900;
    stroke-dashoffset: 400;
    stroke-width: 1px;
    fill: #191919;
  }
}
@keyframes ripple-animation {
  from {
    transform: scale(0.5);
    opacity: 1;
  }
  to {
    transform: scale(30);
    opacity: 0;
  }
}
