body{
  background-color: #f6f6f6;
}
.App {
  text-align: center;
}


header {
  position: relative;    
  margin-top: 15px;  
}

.roted {
  margin-top: 10px;
  transform: rotate(-90deg);  
  background-color: #262626;
  position: absolute;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
  margin-right: 55px;
  padding: 5px;
  border-radius: 5px;
}
.normal{
  margin-left: 55px;
}