/* .main-holly-Container{
  padding: 5px;
  text-align: center;
} */

.hollyComponent {
    /* background-color: red; */
    padding: 15px;
  }
  
  .holly-component-title {
    /* background-color: blue; */
    text-align: center;
  }
  
  .holly-line,
  .holly-line2 {
    height: 2px;
    background-color: red;
  }
  
  .holly-line {
    margin-top: -5px;
    width: 160px;
  }
  
  .holly-line2 {
    margin-top: 5px;
    width: 100px;
  }
  
  .hollyContainer {
    /* background-color: red; */
    /* border: 1px solid red; */
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .holly-Left-Data {
    width: 60%;
    /* background-color: red; */
  }
  
  .holly-right-data {
    width: 40%;
    /* background-color: rgb(0, 255, 17); */
  }
  
  .holly-wrapper {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
  }
  
  .holly-img-container {
    width: 30%;
  }
  
  /* .holly-left-data-link{
    background-color: red;
  } */
  .holly-all-image {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 4px 4px 8px #262626;
  }
  
  .holly-details {
    /* background-color: red; */
    width: 60%;
    padding: 5px;
  }
  
  .holly-title {
    /* text-shadow: 2px 2px 4px #858080; */
    font-weight: 600;
    font-size: 28px;
    color: #352929;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .holly-desc {
    color: #262626;
  }

  .holly-data-contain{
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .IMdb, .release-left{
    color: #5f4646;
  }
  .holly-bitween {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 2px;
    background-color: red;
  }
  
  /* .holly-top-post-heading-wrapper{
    background-color: red;
  } */
  
  .holly-top-post-title {
    /* background-color: red; */
    padding: 2px;
  }
  
  .top-holly-post-underline,
  .top-holly-post-underline2 {
    height: 2px;
    background-color: red;
  }
  
  .top-holly-post-underline {
    margin-top: -10px;
    width: 150px;
  }
  
  .top-holly-post-underline2 {
    margin-top: 5px;
    width: 100px;
    margin-bottom: 20px;
  }
  
  /* .holly-top-img{
    background-color: red;
  } */
  .top-holly-img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
  
  .holly-main-right-container {
    /* background-color: red; */
    padding: 5px;
    width: 90%;
    margin-left: 20px;
  }
  
  .right-holly-data-wrapper {
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
  }
  
  .right-holly-img-container {
    width: 40%;
  }
  
  .top-holly-post-details-wrapper {
    width: 60%;
  }
  
  .top-holly-post-image {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 4px 4px 8px #5f4646;
  }
  
  .top-holly-post-title {
    color: #352929;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    /* text-shadow: 2px 2px 4px #5f4646; */
  }
  
  .holly-left-details {
    font-size: 16px;
    padding: 2px;
    color: #262626;
    /* background-color: blue; */
  }
  
  .holly-ads-container{
    width: 100%;
    height: 400px;
    /* background-color: red; */
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  
  .holly-ads-container2{
    display: none;
  }
  /* 
  @media screen and (max-width:1024px) {
    .food-all-image {
      
      width: 400px;
      height: 300px;
    }
    .top-post-details-wrapper{
      flex-direction: column;
    }
    
  } */
  
  /* @media (max-width: 382px) {
    .food-all-image {    
      width: 60%;
      height: auto;
    }
  } */